.navbar
    a
        float: left
        display: block
        color: black
        text-align: center
        padding: 14px 16px
        text-decoration: none
        font-size: 17px
        border-bottom: 3px solid transparent

.navbar
    a:hover
        border-bottom: 3px solid red

.navbar
    a.active
        border-bottom: 3px solid red

.section1
    height: 55vh    
    width: 100%
    background-color: whitesmoke

.titre
    font-family: 'amaticB'
    color: black
    font-size: 50px






.section2
    // height: 90vh    
    width: 100%
    padding: 12px


.vide
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 1vh
    width: 90%
    height: 26vh



.info
    width: 50vw

.pic
    width: 750px


.centertext 
    position: absolute
    bottom: 10%
    left: 20%
    background-color: white
    width: 50%


.picture
    position: relative
    width: 750px

.section3
    background-color: whitesmoke
    padding: 5vh

    
.bgred
    background-color: red
    width: 20vw
    padding: 13px




.imagebg
    background-image: url("../image/img/stats-bg\(1\).jpg")
    background-attachment: fixed  
    border-color: red
    padding: 10vh

    

